/*@media (max-width: 450px) {
   Add line break to main paragraph on mobile devices 
  .break-point::after {
    content: "\a";
    white-space: pre;
  }
}
*/

@media (min-width: 450px) {
  #main .container h1 {
    font-size: 1.7rem;
  }
}

@media (min-width: 560px) {
  /* Section B */
  .b-flex-1 {
    flex-direction: row;
    flex: 1;
  }
}
@media (min-width: 400px) {
   /* Main section */
  #main .container p {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 600px) {
   /* Main section */
  #main .container p {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 768px) {
  /* Main section */
  #main .container h1 {
    font-size: 2rem;
  }

  .div-2 {
    flex-direction: row;
  }

  #currency_at_hand,
  #currency_desired {
    width: 95%;
  }

  .flexy_2 {
    text-align: right;
  }

  #section-b .container {
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 880px) {
  #header li a {
    padding: 20px 30px;
  }

  /* Section B */
  #section-b .container {
    flex-direction: row;
  }

  .b-flex-1 {
    flex: 3;
  }

  .b-flex-2 {
    flex: 1;
  }
}
